<br>
<br>
<br>
<div class="contactwrap">
	<div class="contactinfo">
		<h2 id="contacttitle">Send me an Email</h2>
		<div id="contactform">
			<%= form_tag(contact_path, {:class => "form"}) do %>
  				<%= email_field_tag :email, nil, :placeholder => "Your Email" %>
  				<br>
  				<%= text_field_tag :subject, nil, :placeholder => "Subject" %>
  				<br>
  				<%= text_area_tag :emailbody %>
  				<br>
  				<%= submit_tag "Send", :id=>"subbttn" %>
			<% end %>
		</div>
	</div>
	<div class="contactinfo">
		<div>
			<h2 id="cmtitle">Contact Me</h2>
		</div>
		<div id="cmline"></div>
		<div id="contacts">
			<ul id="links">
				<li>Phone Number: 801-928-0514</li>
				<li>Email Address: Cjcham77@gmail.com</li>
				<li>Add my linked in here</li>
				<li>Add my github here</li>
			</ul>
		</div>
	</div>
</div>