<div class="main parallax" id="mainparallax">
	<%= render "mainpage" %>
</div>
<div class="about parallax" id="aboutparallax">
	<%= render "about_me" %>
</div>
<div class="workexp parallax" id="workparallax">
	<%= render "work_experience" %>
</div>
<div class="experience parallax" id="expparallax">
	<%= render "experience" %>
</div>
<div class="portfolio parallax" id="portparallax">
	<%= render "example_work" %>
</div>
<div class="education parallax" id="eduparallax">
	<%= render "education" %>
</div>
<div class="contact parallax" id="contactparallax">
	<%= render "contact" %>
</div>